@import "../main.scss";
@import "../abstracts/mixins";
@import "../abstracts/colors";

@keyframes scrollWheel {
  68% {
    top: 20%;
    height: 6px;
  }
  76% {
    top: 30%;
    height: 12px;
  }

  84%,
  92% {
    top: 70%;
    height: 6px;
  }
}

@keyframes slideAnimation {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

//header
.headerWrap {
  @include flexBox();
  width: 100%;
  height: 80px;

  @include mobile {
    height: 56px;
    display: block;
  }

  .headerContent {
    position: fixed;
    z-index: 100;
    width: 100%;
    height: 80px;
    backdrop-filter: blur(80px);
    -webkit-backdrop-filter: blur(80px);
    box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px,
      rgba(0, 0, 0, 0.1) 0px 2px 4px 0px,
      rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;

    @include mobile {
      height: 60px;
    }

    .headerBox {
      @include setMaxWidth;
      @include flexBox();
      width: 100%;
      height: 80px;

      @include mobile {
        height: 60px;
        justify-content: space-between;
      }

      .flexBasisWrap {
        @include flexBox($jc: start);
        gap: 32px;
        flex-basis: 30%;
        .logoWrap {
          @include mobile {
            flex-basis: auto;
          }
          .logo {
            display: block;
            width: 130px;
            height: auto;
            @include mobile {
              width: 120px;
            }
          }
        }

        .tabMenuWrap {
          @include mobile {
            display: none;
          }
          @include flexBox();
          padding: 0 4px;
          background-color: var(--theme__background-color-03);
          height: 40px;
          border-radius: 50px;
          .tab {
            @include setEngFont;

            padding: 0 16px;
            height: 32px;
            font-size: 1.5rem;
            font-weight: 600;
            color: var(--theme__inactive-color);
            border-radius: 50px;

            &.active {
              color: var(--color-white);
              background: var(--color-primary-gradient);
            }
          }
        }
      }
      .menuButton {
        @include flexBox(column, between, start);
        display: none;
        padding: 8px;
        gap: 4.8px;
        @include mobile {
          display: flex;
        }
        .line {
          width: 22px;
          height: 2px;
          background-color: var(--color-white);
        }
      }

      .navMenuWrap {
        @include flexBox();
        gap: 24px;
        flex: 1;
        text-align: center;
        @include mobile {
          display: none;
        }

        .navLink {
          @include setEngFont;
          padding: 8px 16px;
          color: var(--color-white);
          font-size: 1.6rem;
          font-weight: 600;
          transition: all 0.15s ease;

          &.inactive {
            color: var(--theme__inactive-color);
            &:hover {
              transition: all 0.15s ease;
              color: var(--color-white);
            }
          }
        }
      }

      .headerMenuWrap {
        @include flexBox($jc: end);
        flex-basis: 30%;

        @include mobile {
          display: none;
        }
      }
    }
  }
}

//mobileHeader
.mobileMenu {
  opacity: 0;
  visibility: hidden;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--theme__background-color-01);
  z-index: 100;
  transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out;
  transform: translateY(-100%);
  &.open {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }

  .mobileMenuContent {
    @include flexBox($jc: start, $ai: start, $dir: column);
    padding: 16% 20px;
    display: flex;
    height: 100%;
    gap: 40px;

    .closeIconWrap {
      position: absolute;
      top: 18px;
      right: 24px;

      .closeIconContent {
        width: 24px;
        height: 24px;
        position: relative;
        .closeIcon {
          margin-top: 12px;
          position: absolute;
          top: 0;
          left: 0;
          width: 24px; /* 라인의 너비 */
          height: 2px; /* 라인의 높이 */
          background-color: var(--color-white);
          &:first-child {
            transform: rotate(45deg); /* 첫 번째 라인을 45도 회전 */
          }
          &:last-child {
            transform: rotate(-45deg); /* 두 번째 라인을 -45도 회전 */
          }
        }
      }
    }

    .tabMenuWrap {
      @include flexBox();
      padding: 0 4px;
      background-color: var(--theme__background-color-03);
      height: 40px;
      border-radius: 50px;
      .tab {
        @include setEngFont;
        padding: 0 16px;
        height: 32px;
        font-size: 1.5rem;
        font-weight: 500;
        color: var(--theme__inactive-color);
        border-radius: 50px;

        &.active {
          color: var(--color-white);
          background: var(--color-primary-gradient);
        }
      }
    }

    .navMenuWrap {
      @include flexBox($ai: start, $dir: column);
      @include setEngFont;
      gap: 40px;
      width: 100%;

      .navLink {
        color: var(--color-white);
        padding: 8px 0;
        font-size: 2.4rem;
        font-weight: 600;
      }
    }

    .socialLinkWrap {
      @include flexBox($ai: end);
      flex-wrap: wrap;
      gap: 32px;
      width: 100%;

      .socialLink {
        opacity: 0.5;
        transition: all 0.2s ease;

        &:hover {
          opacity: 1;
          transition: all 0.2s ease;
        }
      }
    }
  }
}

//main
.mainContent {
  position: relative;
  width: 100%;
  height: auto;
  margin: 40px 0 80px 0;
  @include mobile {
    height: auto;
    margin: 24px 0;
  }

  &::before {
    content: "";
    position: absolute;
    top: -30%;
    left: -50%;
    width: 160%;
    height: 160%;
    background: radial-gradient(circle, #4904dd44, #1f0836 80%);
    transform: translate(-50%, -50%);
    filter: blur(200px);
    z-index: -1;
    border-radius: 50%;
  }

  .previousWrap {
    @include mobile {
      font-size: 1.5rem;
      gap: 4px;
    }
    @include setMaxWidth;
    @include flexBox($jc: start);
    width: 100%;
    font-size: 1.7rem;
    color: var(--color-white);
    font-weight: 500;
    gap: 8px;
    .backIcon {
      transform: rotate(90deg);
    }
  }

  .modal {
    @include mobile {
      width: 100%;
      max-height: 100%;
      max-width: 100%;
      padding: 24px 16px;
      background-color: var(--theme__background-color-01);
    }
    margin: 0 auto;
    background-color: var(--theme__background-color-02);
    padding: 32px;
    border-radius: 8px;
    max-width: 590px;
    width: 90%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    border-radius: 16px;

    .modalBody {
      width: 100%;
      height: 100%;
      .listWrap {
        width: 100%;

        .statusWrap {
          @include mobile {
            border-radius: 6px;
            padding: 16px;
            gap: 12px;
          }
          @include flexBox($jc: start);
          gap: 16px;
          padding: 24px;
          border-radius: 12px;
          &.success {
            background-color: rgba(24, 206, 130, 0.16);

            border: 2px solid rgba(24, 206, 130, 0.4);
          }

          &.fail {
            background-color: rgba(254, 53, 77, 0.16);
            border: 2px solid rgba(254, 53, 77, 0.4);
          }

          &.pending {
            background-color: rgba(255, 117, 68, 0.16);
            border: 2px solid rgba(254, 53, 77, 0.4);
          }

          &.canceled {
            background-color: rgba(147, 145, 157, 0.16);
            border: 2px solid rgba(147, 145, 157, 0.4);
          }

          .statusTitle {
            @include mobile {
              font-size: 1.5rem;
              line-height: 2.3rem;
            }
            color: var(--color-white);
            font-size: 1.7rem;
            font-weight: 500;
          }
        }

        .summaryWrap {
          @include mobile {
            padding: 16px 12px;
            gap: 16px;
            border-radius: 6px;
          }
          @include flexBox($dir: column, $ai: between);
          margin-top: 24px;
          width: 100%;
          gap: 24px;
          background-color: var(--theme__background-color-03);
          padding: 20px;
          border-radius: 12px;
          .summaryContent {
            @include mobile {
              gap: 10px;
            }
            @include flexBox($dir: column, $ai: between);
            gap: 12px;
            .title {
              @include mobile {
                font-size: 1.3rem;
              }
              color: var(--color-grey-02);
              font-size: 1.5rem;
              font-weight: 400;
            }

            .chainWrap {
              @include flexBox($jc: between);
              .chainContent {
                @include flexBox($jc: start);
                @include mobile {
                  gap: 8px;
                }
                gap: 12px;

                .chainLogo {
                  width: 32px;
                  height: 32px;
                  border-radius: 4px;
                }

                .titleWrap {
                  @include flexBox($jc: start);

                  gap: 4px;
                  .chainTitle {
                    @include mobile {
                      font-size: 1.5rem;
                    }
                    color: var(--color-white);
                    font-size: 1.7rem;
                    font-weight: 500;
                  }
                  .icon {
                    @include mobile {
                      width: 18px;
                      height: 18px;
                    }
                    width: 24px;
                    height: 24px;
                  }
                }
              }

              .addressWrap {
                @include mobile {
                  font-size: 1.3rem;
                }
                @include flexBox();
                gap: 8px;
                color: var(--color-white);
                font-size: 1.5rem;
                font-weight: 500;
                line-height: 3.6rem;
              }

              .tokenId {
                @include mobile {
                  font-size: 1.3rem;
                }
                color: var(--color-white);
                font-size: 1.5rem;
                font-weight: 500;
                line-height: 3.6rem;
              }
            }
          }
        }

        .accordion {
          @include mobile {
            margin-top: 24px;
            border-radius: 6px;
          }
          margin-top: 32px;
          border-radius: 12px;
          overflow: hidden;
          &.open .accordionContent {
            display: block;
          }

          &.open .accordionHeader .icon {
            transform: rotate(180deg);
          }

          .accordionHeader {
            @include mobile {
              padding: 16px 12px;
            }
            @include flexBox($jc: between);
            padding: 16px 20px;
            cursor: pointer;
            background-color: var(--theme__background-color-03);

            .title {
              @include mobile {
                font-size: 1.3rem;
              }
              font-size: 1.5rem;
              color: var(--color-grey-02);
            }

            .icon {
              transition: transform 0.3s ease;
              width: 18px;
              height: 18px;
            }
          }

          .accordionContent {
            @include mobile {
              padding: 16px 12px;
            }
            display: block;
            padding: 20px;
            background-color: var(--theme__background-color-03);
            border-top: 1px solid var(--color-border);

            .flexWrap {
              @include mobile {
                gap: 16px;
              }
              @include flexBox($dir: column, $jc: between, $ai: between);
              gap: 24px;

              .contentItem {
                display: flex;
                justify-content: space-between;

                .label {
                  @include mobile {
                    font-size: 1.3rem;
                  }
                  font-size: 1.5rem;
                  color: var(--color-white);
                }

                .value {
                  @include mobile {
                    font-size: 1.3rem;
                  }
                  font-size: 1.5rem;
                  color: var(--color-white);

                  .link {
                    color: var(--color-white);
                    text-decoration: underline;
                  }

                  &.success {
                    color: var(--color-success);
                  }
                  &.fail {
                    color: var(--color-failure);
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

//footer
.footerWrap {
  @include mobile {
    display: none;
  }
  @include setMaxWidth;
  @include flexBox($jc: between, $ai: start);
  gap: 16px;
  min-height: 80px;
  .copyright {
    color: var(--color-grey-03);
    font-size: 1.3rem;
  }

  .socialLinkWrap {
    @include flexBox($jc: start);
    gap: 24px;

    .socialLink {
      opacity: 0.5;
      transition: all 0.2s ease;

      &:hover {
        opacity: 1;
        transition: all 0.2s ease;
      }
    }
  }
}
